.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  min-width: 650px;
  min-height: 500px;
}

.popup_inner .header {
  font-weight: bolder;
  text-transform: uppercase;
  color: #867072;
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 25px;
  font-family: "Verdana";
}
.popup_inner .subHeader {
  grid-template-columns: repeat(1, 1fr);
  grid-auto-flow: dense;
  border-bottom: 1px solid #ddd;
  border-left: 0px;
  color: #867072;
}
.wrapper {
  padding-top: 20px;
  width: 70%;
  /* background-color: green; */
  margin: 0 auto;
}
.formTitle {
  text-align: left;
  font-size: 20px;
}
.message {
  padding-bottom: 20px;
  /* width: 50%;
  background-color: green;
  margin: 0 auto; */
}
.input {
  width: 100%;
  height: 20px;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.highlight {
  color: #f2f;
  -webkit-animation: flash linear 1s infinite;
  animation: flash linear 1s 4;
  border: 2px solid red;
  border-radius: 4px;
}
@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.datepicker {
  grid-area: datepicker;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  font-size: 17px;
}
.footer {
  position: absolute;
  bottom: 0px;
  z-index: 200;
  // background-color: red;
  width: 100%;
  height: 40px;
  /* padding-top: 20px; */

  .close {
    float: left;
    width: 50%;
    height: 100%;
    padding-top: 20px;
  }
  .save {
    float: right;
    width: 50%;
    height: 100%;
    padding-top: 20px;
  }
}

.btnSave {
  background: #867072;
  background-image: -webkit-linear-gradient(top, #75be64, #4b6330);
  background-image: -moz-linear-gradient(top, #75be64, #4b6330);
  background-image: -ms-linear-gradient(top, #75be64, #4b6330);
  background-image: -o-linear-gradient(top, #75be64, #4b6330);
  background-image: linear-gradient(to bottom, #75be64, #4b6330);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  text-decoration: none;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}
.btnDelete {
  background: #867072;
  background-image: -webkit-linear-gradient(top, #be6464, #633030);
  background-image: -moz-linear-gradient(top, #be6464, #633030);
  background-image: -ms-linear-gradient(top, #be6464, #633030);
  background-image: -o-linear-gradient(top, #be6464, #633030);
  background-image: linear-gradient(to bottom, #c00000, #570000);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  text-decoration: none;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}
.editFooter {
  position: absolute;
  bottom: 0px;
  z-index: 200;
  background-color: red;
  width: 100%;
  height: 40px;
  /* padding-top: 20px; */

  .close {
    float: left;
    width: 33.3%;
    height: 100%;
    padding-top: 20px;
  }
  .save {
    float: left;
    width: 33.3%;
    height: 100%;
    padding-top: 20px;
  }
  .delete {
    float: left;
    width: 33.3%;
    height: 100%;
    padding-top: 20px;
  }
}
