.appointments {
  width: 100%;
  grid-area: appointments;
  border: 1px solid #ddd;
  overflow: auto;
  height: 100%;
  min-width: 300px;
}
.events {
    height:500px;
    overflow: auto;
}
.header {
  font-weight: bolder;
  text-transform: uppercase;
  color: #867072;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 75px;
  font-family: "Verdana";
}
.subHeader {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-flow: dense;
  border-bottom: 1px solid #ddd;
  border-left: 0px;
  color: #867072;
}

.appoint {
  display: contents;
  padding: 5px;
}
.dim {
  background-color: #ece5e2;
}
.appoint-label {
  grid-row-start: 1;
  text-align: center;
  margin: 0;
}

.week-day,
.day-label {
  padding: 4px 10px;
  /* border-left: 1px solid #DDD; */
}
.appEvent {
    /* background-color: #DED5D0; */
    margin-bottom: 2px;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    &:hover {
      background-color: #ece5e2;
    }
  }
  .appEvent .title{
    float: left;
    font-weight: bolder;
  }
  .appEvent .time{
    float: left;
    padding-right: 10px;
    font-weight: lighter;
  }
  .appEvent .delete{
    float: right;
    color: #867072;
    font-size: 24px;
  }
