.calendar {
  grid-gap: 20px;
  grid-area: calendar;
min-height: 400px;
display: flex;
flex-direction: column;
}

.month {
  font-weight: bolder;
  text-transform: uppercase;
  color: #867072;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #DDD;
  font-size: 50px;
  font-family: 'Verdana';
}
.week {
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-flow: dense;
    border: 1px solid #DDD;
    border-left: 0px;
    color: #867072;
    min-height: 86px;
  }
  .daysOfWeek {
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-flow: dense;
    border: 1px solid #DDD;
    border-left: 0px;
    color: #867072;
    min-height: 20px;
  }
 
  .day {
    display:contents;
    padding: 5px;
    border-left: 1px solid #DDD;
    min-width: 90px;
    height:75px;
    &:hover {
      background-color: #ceb7ae;
    }
  }
  .daysOfWeek .day {
    display:contents;
    padding: 5px;
    border-left: 1px solid #DDD;
    min-width: 90px;
    height: 20px;
  }
  .eventList {
    overflow: auto;
    height: 50px;
  }
  /* USED FOR MONTHS */
  .dim, .past, .next {
    background-color: #ece5e2;
  }
  .react-datepicker__time-list {
    padding:0 !important;
  }
  .current {
    background-color: #867072;
    background: #867072;
    background-image: -webkit-linear-gradient(top, #867072, #57494a);
    background-image: -moz-linear-gradient(top, #867072, #57494a);
    background-image: -ms-linear-gradient(top, #867072, #57494a);
    background-image: -o-linear-gradient(top, #867072, #57494a);
    background-image: linear-gradient(to bottom, #867072, #57494a);
    color: #fff;
  }
  .day-label {
    grid-row-start: 1;
    text-align: right;
    margin:0;
  }
  
  .week-day, .day-label, .event {
    padding: 4px 10px;
    /* border-left: 1px solid #DDD; */
  }
  
  .event {
      
    background-color: #DED5D0;
    margin-bottom: 2px;
    padding: 0px 0px;
    /* border-left: 1px solid #DDD; */
    font-size: 12px;
  }
  
  .event-end {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .event-start {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .current .event{
    background-color: #fff;
    color: #867072;
  }
  .topnav {
    overflow: hidden;
    background-color: #867072;
  }
  .clear {
    clear: both;
  }
  .add {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .today {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .btn {
    background: #867072;
    background-image: -webkit-linear-gradient(top, #867072, #57494a);
    background-image: -moz-linear-gradient(top, #867072, #57494a);
    background-image: -ms-linear-gradient(top, #867072, #57494a);
    background-image: -o-linear-gradient(top, #867072, #57494a);
    background-image: linear-gradient(to bottom, #867072, #57494a);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    /* border-radius: 28px; */
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    /* padding: 10px 20px 10px 20px; */
    text-decoration: none;
    cursor: pointer;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .eventTracker {
    color: #ffffff;
    font-size: 14px;
    float: left;
    font-weight: lighter;
    padding: 7px 16px;
  }