.eventTracker {
  color: #ffffff;
  font-size: 14px;
  float: left;
  font-weight: lighter;
  padding: 7px 16px;
}

.alert {
  color: #ffffff;
  -webkit-animation: flash linear 1s infinite;
  animation: flash linear 1s 4;
  // border: 2px solid red;
  // border-radius: 4px;
}
@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}