body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 13px;
}

.footerBase {
  padding-top: 50px;
  clear: both;
  width: 100%;
  text-align: center;
  p{
    padding: 0px;
    margin: 0px;
    letter-spacing: 1.5px;
  }
  a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }
  a:link {
    color: #000;
    
  }
  a:visited {
      color: #54595f;
  }
  a:hover {
      color: #e100ff;
  }
  
  a:active {
      color: #54595f;
  }
}